<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="robot_name" default=""/>
  <arg name="arm" default="ur"/>
  <arg name="arm_model" default="10e"/>
  <arg name="vehicle" default="L1"/>
  <arg name="vehicle_model" default="differential"/>
  <arg name="controller" default="fake"/>
  <!-- urdf and srdf file -->
  <arg name="moveit_config_path" value="$(eval '$(find ' + arg('arm') + str(arg('arm_model')) + '_moveit_config)')"/>
  <arg name="urdf_file" default="$(find whi_amr_description)/urdf/NaviBOT_$(arg vehicle)_$(arg vehicle_model)_$(arg arm)_$(arg arm_model).urdf.xacro"/>
  <arg name="srdf_file" default="$(arg moveit_config_path)config/$(arg arm)$(arg arm_model)_combined.srdf"/>
  <arg name="prefix" default="$(arg arm)$(arg arm_model)_"/>
  <arg name="fixed_frame" default="world"/>
  <arg name="base_frame" default="$(arg prefix)base_link" if="$(eval arg('vehicle') == '')"/>
  <arg name="base_frame" default="$(arg robot_name)/$(arg prefix)base_link" unless="$(eval arg('vehicle') == '')"/>

  <!-- kinematics -->
  <rosparam command="load" file="$(arg moveit_config_path)config/kinematics.yaml"/>

  <!-- Planning Pipeline -->
  <include ns="whi_moveit_cpp_bridge/ompl" file="$(arg moveit_config_path)launch/ompl_planning_pipeline.launch.xml"/>

  <!-- Trajectory execution  -->
  <include ns="whi_moveit_cpp_bridge" file="$(arg moveit_config_path)launch/trajectory_execution.launch.xml">
    <arg name="moveit_controller_manager" value="$(arg controller)"/>
    <arg name="prefix" value="$(arg prefix)"/>
  </include>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(arg moveit_config_path)launch/planning_context.launch">
    <arg name="urdf_file" value="$(arg urdf_file)"/>
    <arg name="srdf_file" value="$(arg srdf_file)"/>
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 $(arg fixed_frame) $(arg base_frame)"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 $(arg prefix)wrist_3_link camera" if="$(eval arg('vehicle') == '')"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 $(arg robot_name)/$(arg prefix)wrist_3_link $(arg robot_name)/camera" unless="$(eval arg('vehicle') == '')"/>

</launch>
