<?xml version="1.0"?>
<launch>
  <!-- argument -->
  <arg name="arm" default="chin"/>
  <arg name="arm_model" default="crb7"/>
  <arg name="controller" default="fake"/>
  <arg name="combined" default="false"/>

  <!-- params -->
  <rosparam file="$(find whi_moveit_cpp_bridge)/config/config_$(arg arm)_$(arg arm_model).yaml" command="load" subst_value="true"/>
  <!-- Specify the config files to use -->
  <rosparam ns="whi_moveit_cpp_bridge" command="load" file="$(find whi_moveit_cpp_bridge)/config/moveit_cpp.yaml"/>

  <group if="$(eval arg('controller') == 'fake')">
    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list">["/whi_moveit_cpp_bridge/fake_controller_joint_states"]</rosparam>
    </node>
  </group>

  <!-- arm launcher -->
  <group if="$(eval arg('combined') == true)">
    <group if="$(eval arg('arm') == 'chin')">
      <include file="$(dirname)/combined_bringup.launch">
        <arg name="arm" value="$(arg arm)"/>
        <arg name="arm_model" value="$(arg arm_model)"/>
        <arg name="controller" value="$(arg controller)"/>
      </include>
    </group>
  </group>
  <group unless="$(eval arg('combined') == true)">
    <include file="$(dirname)/$(arg arm)_bringup.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="arm_model" value="$(arg arm_model)"/>
      <arg name="controller" value="$(arg controller)"/>
    </include>
  </group>

  <!-- hardware interface -->
  <node name="whi_moveit_cpp_bridge" pkg="whi_moveit_cpp_bridge" type="whi_moveit_cpp_bridge_node" output="screen"/>
</launch>
